header {
  display: flex;
  justify-content: center;
  height: 104px;
  background-color: #fff; }
  header .header_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header .nav__wrap {
    display: flex;
    align-items: center; }
  header .header__nav a {
    text-decoration: none;
    width: 498px;
    height: 16px;
    color: #635c73;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    margin-right: 30px; }

.hamburger-menu {
  display: none; }
  .hamburger-menu #menu__toggle {
    opacity: 0; }
  .hamburger-menu .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 40px;
    margin-left: 90%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1; }
  .hamburger-menu .menu__btn > span,
  .hamburger-menu .menu__btn > span::before,
  .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161; }
  .hamburger-menu .menu__btn > span::before {
    content: '';
    top: -8px; }
  .hamburger-menu .menu__btn > span::after {
    content: '';
    top: 8px; }
  .hamburger-menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); }
  .hamburger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; }
  .hamburger-menu .menu__item:hover {
    background-color: #CFD8DC; }
  .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg); }
  .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0); }
  .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg); }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0; }
  .hamburger-menu .menu__btn > span,
  .hamburger-menu .menu__btn > span::before,
  .hamburger-menu .menu__btn > span::after {
    transition-duration: .25s; }
  .hamburger-menu .menu__box {
    transition-duration: .25s; }
  .hamburger-menu .menu__item {
    transition-duration: .25s; }

.wrap {
  width: 1170px; }

.button {
  width: 145px;
  height: 38px;
  background-color: #8d81ac;
  color: white;
  border-radius: 100px;
  border: none; }

.hero .hero-head {
  height: 100vh;
  background-image: url(../img/img.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; }
  .hero .hero-head .hero-head_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .hero .hero-head .hero__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem; }
  .hero .hero-head h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 82px;
    font-weight: 700;
    line-height: 21px; }
  .hero .hero-head p {
    width: 693px;
    height: 28px;
    color: #8d81ac;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 20.45px;
    margin-top: 45px;
    text-align: center; }
  .hero .hero-head span {
    width: 261px;
    height: 13px;
    color: #848e97;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.45px;
    text-transform: uppercase;
    margin-top: 15px; }
  .hero .hero-head .hero__button {
    width: 390px;
    height: 62px;
    margin-bottom: -31px;
    font-weight: 700;
    font-size: 20px; }

.hero .hero_footer {
  display: flex;
  justify-content: center; }
  .hero .hero_footer .hero_footer__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem; }
  .hero .hero_footer span {
    color: #848e97;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px; }
  .hero .hero_footer h2 {
    color: #635c73;
    font-family: sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase; }
  .hero .hero_footer p {
    width: 878px;
    height: 51px;
    opacity: 0.8;
    color: #323232;
    font-family: "Source Sans Pro";
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: -25px; }
  .hero .hero_footer img {
    margin-top: 45px;
    margin-bottom: 70px; }

.features {
  height: 711px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center; }
  .features .features__wrap {
    display: flex;
    margin-top: 3rem;
    width: 100%; }
  .features .features__wrap__block {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center; }
    .features .features__wrap__block h2 {
      display: none;
      color: #8d81ac;
      font-family: sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 21px;
      margin-top: 30px; }
  .features .features__block {
    display: flex;
    flex-direction: row;
    margin-top: 40px; }
    .features .features__block img {
      display: flex;
      align-self: baseline;
      margin-right: 35px;
      width: 80px; }
    .features .features__block p {
      width: 350px;
      height: 78px;
      color: #848e97;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-top: 18px; }
    .features .features__block h3 {
      color: #323232;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px; }
  .features .features__second__block {
    width: 55%; }
    .features .features__second__block h2 {
      color: #8d81ac;
      font-family: sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 21px;
      margin-top: 30px; }
    .features .features__second__block .feautures__img {
      height: 630px;
      width: 100%;
      background-image: url(../img/editor.png);
      background-size: cover;
      margin-top: 40px; }

.line {
  margin-top: 56px;
  border: 1px solid #c7c7c7;
  opacity: 0.2;
  width: 800px; }

.contacts {
  display: flex;
  justify-content: center; }
  .contacts .contacts__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    .contacts .contacts__wrap .contacts__user {
      display: flex;
      margin-top: 80px; }
      .contacts .contacts__wrap .contacts__user .contacts__user__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 23px; }
        .contacts .contacts__wrap .contacts__user .contacts__user__text h3 {
          color: #635c73;
          font-family: sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px; }
        .contacts .contacts__wrap .contacts__user .contacts__user__text span {
          color: #8d81ac;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 32px; }
    .contacts .contacts__wrap .contacts__user__undertext {
      width: 720px;
      text-align: center;
      margin-top: 40px; }
      .contacts .contacts__wrap .contacts__user__undertext span {
        color: #8d81ac;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px; }
      .contacts .contacts__wrap .contacts__user__undertext p {
        font-family: sans-serif; }
    .contacts .contacts__wrap span {
      color: #848e97;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      margin-top: 20px; }
    .contacts .contacts__wrap .contacts__media {
      display: flex; }
      .contacts .contacts__wrap .contacts__media .btn__media {
        display: flex;
        flex-direction: column;
        margin: 30px; }
        .contacts .contacts__wrap .contacts__media .btn__media a {
          text-decoration: none;
          width: 240px;
          height: 50px;
          text-align: center;
          display: flex;
          align-items: center; }
          .contacts .contacts__wrap .contacts__media .btn__media a:hover {
            transform: scale(1.1); }
        .contacts .contacts__wrap .contacts__media .btn__media span {
          color: #ffffff;
          font-family: sans-serif;
          font-size: 21px;
          font-weight: 400;
          line-height: 32px;
          margin-left: 20%;
          margin-bottom: 7%; }
        .contacts .contacts__wrap .contacts__media .btn__media img {
          margin-left: 5%; }
        .contacts .contacts__wrap .contacts__media .btn__media .twitter {
          background-color: #26a6d1;
          border-radius: 2px; }
        .contacts .contacts__wrap .contacts__media .btn__media .facebook {
          background-color: #3b5998;
          border-radius: 2px; }
        .contacts .contacts__wrap .contacts__media .btn__media .github {
          background-color: #f3f3f3;
          border-radius: 2px; }
          .contacts .contacts__wrap .contacts__media .btn__media .github span {
            color: black; }
        .contacts .contacts__wrap .contacts__media .btn__media label {
          color: #848e97;
          font-family: sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 32px;
          margin-top: 20px;
          text-align: center; }

.testimonials {
  height: 100vh;
  background-image: url(../img/Layer_1.png);
  background-size: cover;
  background-color: #4b3b4e;
  display: flex;
  justify-content: center; }
  .testimonials .testimonials__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .testimonials .testimonials__wrap h2 {
      color: #ffffff;
      font-family: sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 21px;
      margin-top: 5%; }
    .testimonials .testimonials__wrap .testimonials__block__wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
      .testimonials .testimonials__wrap .testimonials__block__wrap .testimonials__block {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 10%; }
        .testimonials .testimonials__wrap .testimonials__block__wrap .testimonials__block p {
          width: 326px;
          color: #ffffff;
          font-family: "Source Sans Pro - Bold It";
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center; }
        .testimonials .testimonials__wrap .testimonials__block__wrap .testimonials__block img {
          align-self: center;
          margin-bottom: 10%; }

@media (max-width: 900px) {
  .header__nav {
    display: none; }
  .hero .hero-head h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 21px; }
  .hero .hero-head p {
    width: 500px;
    font-size: 25px;
    text-align: center; }
  .hero .hero-head span {
    text-align: center;
    font-size: 15px;
    margin-top: 20px; }
  .hero .hero-head .hero__button {
    width: 320px; }
  .hero .hero_footer h2 {
    color: #635c73;
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.4;
    width: 500px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px; }
  .hero .hero_footer p {
    width: 450px;
    font-size: 17px;
    line-height: 22px;
    margin-top: -5px; }
  .hero .hero_footer img {
    margin-top: 80px;
    width: 320px; }
  .features {
    height: 100%; }
    .features .features__wrap {
      display: flex;
      flex-direction: column; }
    .features .features__wrap__block {
      display: flex;
      width: 100%; }
      .features .features__wrap__block h2 {
        color: #8d81ac;
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 21px;
        display: block; }
      .features .features__wrap__block .features__block {
        width: 300px;
        margin-top: 80px; }
        .features .features__wrap__block .features__block p {
          width: 200px; }
        .features .features__wrap__block .features__block img {
          display: flex;
          width: 60px;
          height: 70px; }
    .features .features__second__block {
      width: 100%; }
      .features .features__second__block h2 {
        display: none; }
  .contacts .contacts__wrap .line {
    width: 500px; }
  .contacts .contacts__wrap .contacts__user__undertext {
    width: 500px; }
  .contacts .contacts__wrap .contacts__media {
    display: flex;
    flex-direction: column; }
  .testimonials {
    height: 1500px; }
    .testimonials .testimonials__wrap h2 {
      color: #ffffff;
      font-family: sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      text-align: center; }
    .testimonials .testimonials__wrap .testimonials__block__wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .testimonials .testimonials__wrap .testimonials__block__wrap .testimonials__block p {
        width: 350px; } }

@media (max-width: 481px) {
  .nav__wrap .button {
    margin-right: 40%; }
  .header__nav {
    display: none; }
  .hamburger-menu {
    display: flex; }
  .hero .hero-head h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 21px; }
  .hero .hero-head p {
    width: 300px;
    font-size: 20px;
    text-align: center; }
  .hero .hero-head span {
    text-align: center;
    font-size: 14px;
    margin-top: 20px; }
  .hero .hero-head .hero__button {
    width: 300px; }
  .hero .hero_footer h2 {
    color: #635c73;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    width: 300px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px; }
  .hero .hero_footer p {
    width: 320px;
    font-size: 17px;
    line-height: 22px;
    margin-top: -5px; }
  .hero .hero_footer img {
    margin-top: 80px;
    width: 300px; }
  .features {
    height: 100%; }
    .features .features__wrap {
      display: flex;
      flex-direction: column; }
    .features .features__wrap__block {
      width: 100%; }
      .features .features__wrap__block h2 {
        color: #8d81ac;
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 30px;
        display: block;
        text-align: center; }
      .features .features__wrap__block .features__block {
        width: 300px;
        margin-top: 80px; }
        .features .features__wrap__block .features__block p {
          width: 200px; }
        .features .features__wrap__block .features__block img {
          display: flex;
          width: 60px;
          height: 70px; }
    .features .features__second__block {
      width: 100%; }
      .features .features__second__block h2 {
        display: none; }
  .contacts .contacts__wrap .line {
    width: 300px; }
  .contacts .contacts__wrap .contacts__user__undertext {
    width: 300px; }
  .contacts .contacts__wrap .contacts__media {
    display: flex;
    flex-direction: column; }
  .testimonials {
    height: 1500px; }
    .testimonials .testimonials__wrap h2 {
      color: #ffffff;
      font-family: sans-serif;
      font-size: 35px;
      font-weight: 700;
      line-height: 40px;
      text-align: center; }
    .testimonials .testimonials__wrap .testimonials__block__wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .testimonials .testimonials__wrap .testimonials__block__wrap .testimonials__block p {
        width: 300px; } }

/*# sourceMappingURL=main.css.map */
