@media (max-width: 900px){
  html {
     overflow-x: hidden;
	}
  .header__nav{
    display: none;
  }
  .hero{
    .hero__head{
      h1{
          @include titels(72px,700,21px,#fff)
      }
      p{
        width: 500px;
        font-size: 25px;
        text-align: center;
      }
      span{
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
      }
      .hero_button{
        width: 320px;
      }
    }
    .hero__footer{
       h2{
         @include titels(38px,700,1.4,#635c73)
         width: 500px;
         text-align: center;
         margin-bottom: 25px;
         margin-top: 20px;
       }
       p{
         width: 450px;
         font-size: 17px;
         line-height: 22px;
         margin-top: -5px;
       }
       img{
         margin-top: 80px;
         width: 320px;
       }
    }
  }
  .features{
    height: 100%;
    .features_wrap{
       display: flex;
       flex-direction: column;
    }
    .features__block_wrap{
      display: flex;
      width: 100%;
      h2{
        @include titels(40px,700,21px,$FontsandBtns)
        display: block;
      }
      .features__block{
        width: 300px;
        margin-top: 80px;
        p{
          width: 200px;
        }
        img{
          display: flex;
          width: 60px;
          height: 70px;
        }
      }
    }
    .features__block_second{
      width: 100%;
      h2{
        display: none;
      }
    }
  }
  .contacts{
    .contacts_wrap{
      .line{
      width:  500px;
      }
      .contacts-block__undertext{
        width: 500px;
      }
      .contacts-media{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .testimonials{
    height: 1500px;
    .testimonials_wrap{
      h2{
        @include titels(40px,700,40px, #ffffff)
        text-align: center;
      }
        .testimonials__block_wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
          .testimonials__block{
             p{
               width: 350px;
             }
          }
        }
      }
  }
  .pricing{
    height: 2200px;
    .pricing_wrap{
      h2{
         @include titels(45px,700,40px, #ffffff)
         text-align: center;
      }
      .pricing-block_wrap{
        display: flex;
        flex-direction: column;
        align-content: center;
        .pricing-block{
          margin-bottom: 40px;
          margin-left: 0;
        }
      }
      .prcing__paragraph{
        @include titels(12px,400,21px,#a291a5)
        width: 500px;
      }
    }
  }
  .subscription{
    .subscription_wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        display: none;
      }
      h3{
        display: block;
      }
      .subscription__form{
        display: flex;
        input{
          width: 300px;
        }
        button{
          width: 120px;
        }
      }
    }
  }
  .links{
    height: 1650px;
    .links_wrap{
      .links-block__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        .links-block{
          button{
            margin-bottom: 20px;
            margin-top: 30px;
          }
        }
      }
    }
  }
  footer{
    .footer_wrap{
      .footer-block_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .block{
          margin-top: 35px;
        }
        .footer-block__contacts{
          text-align: center;
        }
      }
    }
  }
}
