@media (max-width: 481px){
  .nav__wrap{
     .button{
       margin-right: 40%;
     }
  }
  .header__nav{
    display: none;
  }
  .hamburger-menu{
    display: flex;
  }
  .hero{
    .hero-head{
      h1{
          @include titels(60px,700,21px,#fff)
      }
      p{
        width: 300px;
        font-size: 20px;
        text-align: center;
      }
      span{
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
      }
      .hero__button{
        width: 300px;
      }
    }
    .hero_footer{
       h2{
         @include titels(30px,700,1.4,#635c73)
         width: 300px;
         text-align: center;
         margin-bottom: 25px;
         margin-top: 20px;
       }
       p{
         width: 320px;
         font-size: 17px;
         line-height: 22px;
         margin-top: -5px;
       }
       img{
         margin-top: 80px;
         width: 300px;
       }
    }
  }
  .features{
    height: 100%;
    .features__wrap{
       display: flex;
       flex-direction: column;
    }
    .features__wrap__block{
      width: 100%;
      h2{
        @include titels(40px,700,30px,$FontsandBtns)
        display: block;
        text-align: center;
      }
      .features__block{
        width: 300px;
        margin-top: 80px;
        p{
          width: 200px;
        }
        img{
          display: flex;
          width: 60px;
          height: 70px;
        }
      }
    }
    .features__second__block{
      width: 100%;
      h2{
        display: none;
      }
    }
  }
  .contacts{
    .contacts__wrap{
      .line{
      width:  300px;
      }
      .contacts__user__undertext{
        width: 300px;
      }
      .contacts__media{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .testimonials{
    height: 1500px;
    .testimonials__wrap{
      h2{
        @include titels(35px,700,40px, #ffffff)
        text-align: center;
      }
        .testimonials__block__wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
          .testimonials__block{
             p{
               width: 300px;
             }
          }
        }
      }
  }
  .pricing{
    height: 2300px;
    .pricing__wrap{
      h2{
         @include titels(40px,700,40px, #ffffff)
         text-align: center;
      }
      .pricing__block__wrap{
        display: flex;
        flex-direction: column;
        align-content: center;
        .pricing__block{
          margin-bottom: 40px;
          margin-left: 0;
          &:hover{
            transform: scale(1.1);
            background: rgba(57, 45, 61, 0.3);
          }

        }
      }
      .prcing__paragraph{
        @include titels(12px,400,21px,#a291a5)
        width: 300px;
      }
    }
  }
  .subscription{
    .subscription__wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        display: none;
      }
      h3{
        display: block;
      }
      .subscription__form{
        display: flex;
        input{
          width: 200px;
        }
        button{
          width: 100px;
        }
      }
    }
  }
  .links{
    height: 1650px;
    .links__wrap{
      .links__wrap__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        .links__block{
          button{
            margin-bottom: 20px;
            margin-top: 30px;
          }
        }
      }
    }
  }
  footer{
    .footer__wrap{
      .footer__wrap__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .block{
          margin-top: 35px;
        }
        .footer__contacts{
          text-align: center;
        }
      }
    }
  }
}
