@media (max-width: 1203px) and (min-width: 901px){
  html{
    overflow-x: hidden;
  }
  .features{
    .features__block_second{
      h2{
        @include titels (40px,700,21px,$FontsandBtns)
      }
    }
    .features__block{
      p{
        width: 250px;
      }
    }
  }
  .testimonials{
    .testimonials_wrap{
      .testimonials__block_wrap{
        .testimonials__block{
          p{
            width: 293px;
          }
        }
      }
    }
  }
  .pricing{
    .pricing_wrap{
      .pricing-block_wrap{
        .pricing-block{
          width: (100%/4);
          margin-left: 20px;
          &:hover{
            transform: scale(1.1);
            background: rgba(57, 45, 61, 0.3);
          }
        }
      }
    }
  }
  .links{
    .links_wrap{
      .links-block{
        width: (100%/3.5);
        margin-left: 10px;
      }
    }
  }
  footer{
    .footer-block__contacts{
      width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    }
  }
}
