.pricing{
  @include background-prop()
  background-image: url(../img/Layer_2.png);
  @include wrap-center()
  height: 900px;
  .pricing_wrap{
   @include wrap-prop()
   h2{
      @include titels(48px,700,21px, #ffffff)
   }
   .pricing-block_wrap{
     display: flex;
     flex-direction: row;
     justify-content: center;
     .pricing-block{
       margin-left: 30px;
       width: 257px;
       height: 457px;
       background-color: rgba(255, 255, 255, 0.11);
       &:hover{
         transform: scale(1.15);
         background: rgba(57, 45, 61, 0.3);
       }

       .pricing-block__head{
         background-color: rgba(255, 255, 255, 0.06);
         height: 97px;
         display: flex;
         justify-content: center;
         align-items: center;
         h3{
           @include titels(24px,400,21px, #ffffff)
           text-transform: uppercase;
         }
       }
       .pricing-block__main{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         .money{
           @include titels(60px,700,21px, #ffffff)
           margin-top: 30px;
         }
         .month{
           @include titels(14px,400,90px, #ffffff)
           opacity: 0.3;
           text-transform: uppercase;
         }
         p{
           @include titels(16px,400,1,#fff)
           margin-top: 70px;
           text-align: center;
           width: 200px;
           height: 20px;
         }
         button {
           width: 160px;
           height: 42px;
           background-color: rgba(255, 255, 255, 0.15);
           text-decoration: none;
           border-radius: 10px;
           display: flex;
           justify-content: center;
           align-self: center;
           color: #fff;
           text-transform: uppercase;
           border:none;
           margin-top: 60px;
         }
       }
     }
   }
  }
  .prcing__paragraph{
    @include titels(14px,400,21px,#a291a5)
    width: 862px;
    opacity: 0.8;
    text-align: center;
  }
}
